# FRONTEND
node_modules/
dist/
dist-ssr/
*.local

# BACKEND
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.json
*.tmp
*.csv~
*.pth
*.pt
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Environment files
.env
